
<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
  <a routerLink="#" class="navbar-brand" href="#" data-toggle="collapse" data-target="#navbarSupportedContent">
      <img src="../assets/RxJS Icon.png" width="90"/>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/FuncPage/Combination">Combination<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/FuncPage/Conditional">Conditional</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/FuncPage/Creation">Creation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/FuncPage/ErrorHandling">Error Handling</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/FuncPage/Multicasting">Multicasting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/FuncPage/Filtering">Filtering</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/FuncPage/Transformation">Transformation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/FuncPage/Utility">Utility</a>
      </li>
    </ul>
  </div>
</nav>

